#projects-grid li {
  border-radius: 0.5rem;
}

#projects-grid li:nth-child(1) {
  background-image: url("../../img/personal/p5.jpg");
}

#projects-grid li:nth-child(2) {
  background-image: url("../../img/personal/p3.jpg");
}

#projects-grid li:nth-child(3) {
  background-image: url("../../img/personal/pq2.jpg");
}

#projects-grid li:nth-child(4) {
  background-image: url("../../img/personal/portraits.jpg");
}
