.subpage-body h1 {
  padding: 1rem 0;
}
.subpage-body figure {
  padding-bottom: 1.5rem;
}
.subpage-body .link {
  font-weight: 700;
  border: 2px solid #000;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
.subpage-body section:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}
.subpage-header {
  height: 35vh;
}

#awbury-header {
  background-image: url("../../img/portfolio/awbury/gate.jpg");
}
